.festive {
    color: red;
    font-size: 24px;
    text-decoration: green
}

p {
    color: #26baf1;
    font-family: Verdana;
    font-size: 56px;
    font-style: bold;
}

body {
    background-color:red;
}